<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <!-- Masthead -->
    <div class=" text-center" style="margin-top: 30px;">
        <div class="container masthead">
            <div class="row">

                <!-- for information and summeries  -->
                <div class="col-md-12 col-lg-12 col-xl-12 mx-auto " style="background: #343a40; color:goldenrod;">
                    <div>
                        <h1 class="">Available Processes</h1>
                    </div>
                    <div>
                        <table th:if="${!dataProcesses.empty}"  class="table table-top table-responsive-md  text-center">
                            <!-- Process number will be removed later on  -->
                            <tr>
                                <td>Process#</td>
                                <td>Pro. Name</td>
                                <td>Cluster Method</td>
                                <td>Distance Method</td>
                                <td>Cluster #</td>
                                <td>Iteration #</td>
                                <td>Dataset #</td>
                                <td>Options</td>
                            </tr>
                            <tr th:each="dataProcess :${dataProcesses}" >
                                <div  >
                                    <td th:text="${dataProcess.getProcessingId()}"></td>
                                    <td th:text="${dataProcess.getProcessingName()}"></td>
                                    <td th:text="${dataProcess.getClusteringMethod()==1?'Simulated Annealing':'Single Linkage'}"></td>
                                    <td th:text="${dataProcess.getDistanceCalMethod()==1?'Euclidean Distance':'Manhattan Distance'}"></td>
                                    <td th:text="${dataProcess.getNumberOfCluster()}"></td>
                                    <td th:text="${dataProcess.getNumberOfIteration()}"></td>
                                    <td th:text="${dataProcess.getDataSetNumber()}"></td>
                                    <td>
                                        <a th:href="${'/ProcessingData/Executing/'+dataProcess.getProcessingId()}" role="button" class="btn btn-light">Show Result</a>
                                       <a th:href="${'/ProcessingData/delete/'+dataProcess.getProcessingId()}" role="button" class="btn btn-danger">Delete</a>
                                   </td>

                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- down for further information, but just when it is necessary -->
        <!--<div class="col-md-12 col-lg-12 col-xl-12 mx-auto row" style="margin-top: 30px; background:goldenrod; color: dimgrey; ">
            <h1 class="mb-5">More Information</h1>
        </div>-->
    </div>
</div>
</body>
</html>
