<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <!-- Masthead -->
    <div class=" text-center" style="margin-top: 30px;">
        <div class="container masthead">
            <div class="row">

                <!-- for information and summeries  -->
                <div class="col-md-12 col-lg-12 col-xl-12 mx-auto " style="background: #343a40; color:goldenrod;">
                    <div>
                        <h1 class="">Process Information</h1>
                    </div>
                    <div>
                        <table   class="table table-top table-responsive-md  text-center">
                            <!-- Process number will be removed later on  -->
                            <tr>
                                <td>Process#</td>
                                 <td>Pro. Name</td>
                                 <td>Cluster Method</td>
                                 <td>Distance Method</td>
                                 <td>Cluster #</td>
                                 <td>Iteration #</td>
                                 <td>Dataset #</td>
                                 <td>cluster size</td>
                                 <td>Points size</td>
                             </tr>
                             <tr  >
                                 <div  >
                                     <td th:text="${showProcess.getProcessingId()}"></td>
                                     <td th:text="${showProcess.getProcessingName()}"></td>
                                     <td th:text="${showProcess.getClusteringMethod()==1?'Simulated Annealing':'Single Linkage'}"></td>
                                     <td th:text="${showProcess.getDistanceCalMethod()==1?'Euclidean Distance':'Manhattan Distance'}"></td>
                                     <td th:text="${showProcess.getNumberOfCluster()}"></td>
                                     <td th:text="${showProcess.getNumberOfIteration()}"></td>
                                     <td th:text="${showProcess.getDataSetNumber()}"></td>
                                     <td th:text="${showProcess.getClusters().size()}"></td>
                                     <td th:text="${showProcess.getListOfPoints().size()}"></td>


                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 mx-auto "  style="background: grey; color: aliceblue">
                    <table   class="table table-top table-responsive-md  text-center" >
                        <!-- Process number will be removed later on  -->
                        <tr>
                            <td> Clsuter Name</td>
                            <td class="col-md-9 col-lg-9 col-xl-9 mx-auto ">Points</td>

                        </tr>
                        <tr  th:each="cluster :${showProcess.getClusters()}" >
                            <div  >
                                <td th:text="${cluster.getClusterName()}"></td>
                                <td th:if="${!cluster.getClusterPoints().empty}" th:each="points :${cluster.getClusterPoints()}">
                                    <p th:text="${points[0]}"></p>
                                </td>
                                <td th:if="${cluster.getClusterPoints().empty}">
                                    <p> There are no Points yets</p>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- down for further information, but just when it is necessary -->
        <!--<div class="col-md-12 col-lg-12 col-xl-12 mx-auto row" style="margin-top: 30px; background:goldenrod; color: dimgrey; ">
            <h1 class="mb-5">More Information</h1>
        </div>-->
    </div>
</div>
</body>
</html>
