<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <!-- Masthead -->
    <div class=" text-center" style="margin-top: 30px;">
        <div class="container masthead">
            <div class="row">

                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto" style="background: grey; color: aliceblue">
                    <div >
                        <h1>Select Processing Details</h1>
                    </div>
                    <div class="" style="margin-bottom: 10px">
                        <form th:object="${newProcess}" action="/index" method="post" class="form-horizontal">
                            <div class="input-group">
                                <label for="basic-url">Processing Name</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Custer xxx</span>
                                    </div>
                                    <input type="text" class="form-control" id="processingName" aria-describedby="basic-addon3" name="processingName" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Select Clustring Method</label>
                                    </div>
                                    <select name="clusteringMethod" class="custom-select" id="clusteringMethod">
                                        <option selected>Choose...</option>
                                        <option value="1">Simulated Annealing</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Distance Calculation Method</label>
                                    </div>
                                    <select name="DistanceCalMethod" class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">Euclidean Distance</option>
                                        <option value="2">Manhattan </option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Cluster Number</span>
                                    </div>
                                    <input type="number" min="2" class="form-control" id="basic-url" aria-describedby="basic-addon3" required name="clustersNumber">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Number Of Iteration</span>
                                    </div>
                                    <input type="number" min="1" class="form-control" id="basic-url" aria-describedby="basic-addon3" required name="iterationNumber">
                                </div>

                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Button</button>
                                </div>


                        </form>
                    </div>
                </div>

                </div>
                <!-- for information and summeries  -->
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto " style="background: #343a40; color:goldenrod;">
                    <div>
                        <h1 class="">Available Data Set</h1>
                    </div>
                    <div style="margin-bottom: 10px">
                        <table th:if="${!testWithMe.empty}"  class="table table-top table-responsive-md  text-center">
                            <tr th:each="dataSet :${testWithMe}" >
                                <div th:if="${!dataSet[0].empty}" th:each="elementNumberInRow :${#numbers.sequence(0, totalcolums)}" >
                                    <td th:text="${dataSet[elementNumberInRow]}"></td>
                                </div>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- down for further information, but just when it is necessary -->
        <!--<div class="col-md-12 col-lg-12 col-xl-12 mx-auto row" style="margin-top: 30px; background:goldenrod; color: dimgrey; ">
            <h1 class="mb-5">More Information</h1>
        </div>-->
    </div>
</div>
</body>
</html>
