<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta http-equiv="refresh" content="3;url=http://localhost:8080/index">
</head>
<body>
<div layout:fragment="content">
	<h1>405: That is Unexpected Error</h1>
	<h3	 class="alert	alert-danger" style="text-align: center">Unfortunately, you need to check your entries and try again</h3>
	<h4 class="alert-info alert" style="text-align: center"> You will be forwarded to the start within 3 seconds </h4>
</div>
</body>
</html>
