<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
    <!-- Masthead -->
        <div class=" text-center" style="margin-top: 30px;">
            <div class="container masthead">
                <div class="row">

                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto" style="background: grey; color: aliceblue">
                        <div >
                            <h1>Select Your csv File</h1>
                        </div>
                        <div class="" style="margin-bottom: 10px">
                            <form th:object="${newDataSet}" action="/index" method="post" class="form-horizontal">
                                <div class="input-group">
                                    <label for="basic-url">Enter Data Set Name</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" >Custer xxx Data Set</span>
                                        </div>
                                        <input type="text" class="form-control" id="DataSetName" aria-describedby="basic-addon3" name="dataSetName" required>
                                    </div>
                                    <label for="basic-url">Your vanity URL</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">C:/Java/xxxx.csv</span>
                                        </div>
                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" required name="dataSetPath">
                                    </div>
                                    <label for="basic-url">How Would You Describe your data (Optional)</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                        </div>
                                        <textarea type="text" class="form-control" id="dataSetDescription" aria-describedby="basic-addon3"  name="dataSetDescrition"></textarea>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">Button</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- for information and summeries  -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto row" style="background: #343a40; color:goldenrod;">
                        <h1 class="darkGrey">Available Data Set</h1>
                        <table th:if="${!avaibleDataSet.empty}" class="table table-top table-responsive-md  text-center">
                            <tr>
                                <th>Data Set Name</th>
                                <th></th>
                            </tr>
                            <tr th:each="dataSet :${avaibleDataSet}" >

                                <td th:text="${dataSet.getDataSetName()}"></td>
                                <td>
                                    <a th:href="${'/dataSets/'+dataSet.getId()}" role="button" class="btn btn-light">Details</a>
                                    <a th:href="${'/dataSets/delete/'+dataSet.getId()}" role="button" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- down for further information, but just when it is necessary -->
            <!--<div class="col-md-12 col-lg-12 col-xl-12 mx-auto row" style="margin-top: 30px; background:goldenrod; color: dimgrey; ">
                <h1 class="mb-5">More Information</h1>
            </div>-->
        </div>
    </div>
</body>
</html>
